/**
 * Project: Wikipedia Articles Fetcher
 * Author: Lujan Fernaud
 * Github: www.github.com/lujanfernaud
 */


/* Body, Initial Settings, & Helper Classes
  ====================================================== */


body {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.650;
  color: #222222;
  background: #fff;
}
@media (min-width: 1025px) {
  body {
    font-size: 21px;
  }
}

a {
  text-decoration: none;
  color: #0645ad;
}
a:hover,
a:focus {
  text-decoration: underline;
}

table {
  font-family: 'Helvetica Neue', 'Helvetica', 'Nimbus Sans L', 'Arial', 'Liberation Sans', sans-serif;
}

img {
  max-width: 100%;
}

ol,
ul {
  padding: 0;
}


/* Sidebar
  ====================================================== */


#sidebar-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #EAECF0;
}
#sidebar {
  position: relative;
  padding: 20px;
}

/* Form */

#input-title,
#input-language,
#button-fetch {
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 35px;
  margin-bottom: 11px;
  font-size: 16px;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
}
#input-language {
  padding-left: 6px;
}
#input-title {
  padding-left: 9px;
  border: none;
}

/* Page
  ====================================================== */


#page-container {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 16px;
  background: #fff;
  transition: left 0.25s ease-in-out;
}
.page-visible {
  left: 0;
}
.page-hidden {
  left: 240px;
  overflow: hidden;
}

#button-toggle {
  position: relative;
  top: -6px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

#article-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  #article-title {
    min-width: 280px;
  }
}
@media (min-width: 801px) {
  #article-title {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (min-width: 1025px) {
  #article-title {
    min-width: 900px;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1281px) {
  #article-title {
    padding-left: 23%;
    padding-right: 23%;
  }
}

#article {
  position: relative;
}
@media (max-width: 425px) {
  #article {
    min-width: 280px;
  }
}
@media (min-width: 801px) {
  #article {
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media (min-width: 1025px) {
  #article {
    min-width: 900px;
    padding-left: 20%;
    padding-right: 20%;
  }
}
@media (min-width: 1281px) {
  #article {
    padding-left: 23%;
    padding-right: 23%;
  }
}

/* Warning: Article not found */

#warning-message {
  text-align: center;
}
.warning-hidden {
  display: none;
}
.warning-visible {
  display: block;
}


/* MediaWiki Common.css modifications
  ====================================================== */


/* Tables */

@media (max-width: 767px) {
  table {
    border-collapse: collapse;
  }
  .content table {
    float: none !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .content table {
    margin: 1em 0;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: auto;
    display: block;
    width: 100% !important;
  }
  .content table.infobox {
    border: 0;
  }
}

.content table.infobox {
  font-size: 80%;
  position: relative;
  margin-bottom: 2em;
  text-align: left;
  background-color: #f8f9fa;
}
.content table.infobox th,
.content table.infobox td {
  vertical-align: top;
  border: 0;
  padding: 0.2em;
}
.content table.infobox.geography .mergedtoprow td,
.content table.infobox.geography .mergedtoprow th {
  padding-bottom: 0.5px;
}
.content table.infobox.geography .mergedrow td,
.content table.infobox.geography .mergedrow th {
  padding-bottom: 0.5px;
}
.content table.infobox tr:last-child th,
.content table.infobox tr:last-child td {
  border: 0;
}

table.wikitable {
  margin: 1em 0;
  background-color: #f8f9fa;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  font-size: 80%;
  color: #000;
}
table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

/* Images and gallerybox */

figure,
.thumb {
  margin-left: 0;
  margin-right: 0;
  padding: 3px;
  background-color: #f8f9fa;
  text-align: center;
  overflow: hidden;
}
figcaption,
.thumbcaption {
  padding: 3px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Nimbus Sans L', 'Arial', 'Liberation Sans', sans-serif;
  font-size: 75%;
  line-height: 1.4em;
  text-align: center;
  border: 0;
}
.thumb,
.thumbinner,
.tsingle {
  width: auto !important;
  max-width: initial !important;
}
ul.gallery {
  margin: 2px;
  padding: 2px;
  display: block;
}
ul.gallery, li.gallerybox {
  zoom: 1;
}
li.gallerybox {
  vertical-align: top;
  display: -moz-inline-box;
  display: inline-block;
}
li.gallerybox div.thumb {
  margin: 2px;
  text-align: center;
  background-color: #f8f9fa;
  border: 1px solid #c8ccd1;
}
div.gallerytext {
  overflow: hidden;
  font-family: 'Helvetica Neue', 'Helvetica', 'Nimbus Sans L', 'Arial', 'Liberation Sans', sans-serif;
  font-size: 75%;
  line-height: 1.6;
  padding: 2px 4px;
  word-wrap: break-word;
}


/* Footer
  ====================================================== */


footer {
  height: 4em;
}
