/* Sidebar
  ====================================================== */

#sidebar-container {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: #c2c2c2;
}

#sidebar {
  position: relative;
  padding: 20px;
}

#title {
  display: block;
  box-sizing: border-box;
  width: 200px;
}

#language {
  display: block;
  width: 200px
}

#fetch {
  display: block;
  width: 200px
}

/* Page
  ====================================================== */

#page-container {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: left 0.25s ease-in-out;
}

.page-visible {
  left: 0;
}

.page-hidden {
  left: 240px;
}

#toggle-button {
  position: relative;
  top: 1%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 30px;
  color: #000;
  text-decoration: none;
}

#article {
  position: relative;
}
